@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$color-primary: #FD2D01;
$color-secondary: #FFD7D7;
$color-tertiary: #4E5066;

*,
*::before,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: rgba($color: #000000, $alpha: 0.6);
  margin: 0;
}

a {
  color: inherit;
  list-style-type: none;
  text-decoration: none;
}