.topbar {
  background: #fd2d01;
  color: #fff;
}

.topbar-logo {
  display: block;
  padding-top: 16px;
  padding-left: 16px;
  height: 50px;
}

.topbar a {
  text-decoration: none;
}

.topbar-nav {
  text-align: right;
  padding-bottom: 16px;
}

.topbar-nav a {
  display: inline-block;
  margin: 0 16px;
}