.postform {
  border: solid 1px #4E5166;
  box-shadow: rgba($color: #4E5166, $alpha: 0.5) 0px 3px 8px;
  background: #FFD7D7;
  border-radius: 5px;
  margin-bottom: 15px;



  &__area {
    resize: none;
    width: 100%;
    border: none;
    border-radius: 5px 5px 0 0;
    background: #FFD7D7;
    padding: 15px;
  }

  &__labelImg {
    cursor: pointer;
    color: white;
    background: #FD2D01;
    padding: 5px 10px;
    border-radius: 5px;
  }

  &__image {
    padding: 15px;

    & label {
      cursor: pointer;
      color: white;
      background: #FD2D01;
      padding: 5px 10px;
      border-radius: 5px;
      margin-right: 10px;

      &:hover {
        color: #FD2D01;
        background: white;
      }
    }

    & input {
      display: none;
    }
  }

  &__bp {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

    & button {
      border: none;
      color: white;
      background: #FD2D01;
      padding: 5px 10px;
      border-radius: 5px;

      &:first-child {
        margin-left: 20px;
      }

      &:last-child {
        margin-right: 20px;
      }

      &:hover {
        color: #FD2D01;
        background: white;
      }
    }
  }
}